<h1 class="modal-title">Forgot Password</h1>
<div class="box">
    <label class="label">Email</label>
    <p class="control">
    <input class="input" type="text" placeholder="jsmith@example.org" ng-model="user.email" required>
    </p>
    <hr>
    <p class="control">
    <button id="loginButton" class="button is-primary" ng-class="{'is-loading': resetInProgress }" ng-click="reset()">Reset</button>
    <button class="button is-default" ng-click="togglePopup()">Cancel</button>
    <span class="help is-danger is-active" ng-repeat="error in errors">{{error.err}}</span>
    </p>
</div>
<p class="has-text-centered">
    <a href="#" ng-click="togglePopup();openLogin()">Login</a>
    | 
    <a href="#!/help/" ng-click="togglePopup()">Need help?</a>
</p>